<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- <title>
    Material Dashboard by Creative Tim
  </title> -->
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../../../assets/css/material-dashboard.css" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="purple" data-image="../assets/img/sidebar-1.jpg">
      <div class="logo"><a href="#" class="simple-text logo-normal">
        لوحة الادارة
        </a></div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
             <li class="nav-item  " routerLinkActive="active">
            <a class="nav-link" routerLink="/dashboard">
              <i class="material-icons">dashboard</i>
              <p>لوحة القيادة</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="/notifications" >
              <i class="material-icons"  >notifications</i>
              <p>الاشعارات</p>
            </a>
          </li>

          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="/manageadmins" >
              <i class="material-icons">people_outline</i>
              <p>اضافه مشرف</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="/manageusers" >
              <i class="material-icons">library_books</i>
              <p>اداره المستخدمين </p>
            </a>
          </li>

          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="/searchplace" >
              <i class="material-icons">content_paste</i>
              <p>بحث الاماكن</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="/offers" >
              <i class="material-icons">hotel_class</i>
              <p>العروض</p>
            </a>
          </li>




        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">لوحة القيادة</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="بحث...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>

                  <span class="notification">{{this.count}}</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <!-- style="background-color:#8a99f8;" -->
                <div class="card-header card-header-black card-header-icon" >

                  <div class="card-icon">
                    <i class="material-icons">people_outline</i>
                  </div>
                  <p class="card-category">  {{AllUsers}} : كل الاعضاء</p>
                  <h4 class="card-title">{{numOfAllAdmins}}
                    <small>مشرف </small>
                  </h4>
                  <h4 class="card-title">{{numOfAllUser}}
                    <small>مستخدم</small>
                  </h4>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> طبقا لاحدث الاضافات
                  </div>
                </div>
              </div>
            </div>
           
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">apartment</i>
                  </div>
                  <p class="card-category"> الاماكن الطبيه</p>
                  <h2 class="card-title">{{numOfAllEntities}}
                    <small>مكان</small>
                  </h2>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-black card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">cottage</i>
                  </div>
                  <p class="card-category"> المستشفيات</p>
                  <h2 class="card-title">{{numOfHospital}}
                    <small>مستشفي</small>
                  </h2>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">repeat_one_on</i>
                  </div>
                  <p class="card-category"> الاطباء</p>
                  <h2 class="card-title">{{numOfDoctors}}
                    <small> طبيب</small>
                  </h2>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                  </div>
                </div>
              </div>
            </div>
          
           
          </div>

          <div class="row">
            
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <!-- style="background-color:#8a99f8;" -->
                <div class="card-header card-header-info card-header-icon" >

                  <div class="card-icon">
                    <i class="material-icons">villa</i>
                  </div>
                  <p class="card-category"> اطباء الاسنان</p>
                  <h2 class="card-title">{{numOfDentist}}
                    <small>طبيب</small>
                  </h2>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Our System
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-black card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">medication</i>
                  </div>
                  <p class="card-category"> الصيدليات</p>
                  <h2 class="card-title">{{numOfPharmacy}}
                    <small>صيدليه</small>
                  </h2>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">grass</i>
                  </div>
                  <p class="card-category">المعامل و الأشعه </p>
                  <h2 class="card-title">{{numOfLabs}}
                    <small>معمل</small>
                  </h2>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <!-- style="background-color:#8a99f8;" -->
                <div class="card-header card-header-black card-header-icon" >

                  <div class="card-icon">
                    <i class="material-icons">people_outline</i>
                  </div>
                  <p class="card-category">العلاج الطبيعي</p>
                  <h2 class="card-title">{{numOfphysiotherapist}}
                    <small>طبيب</small>
                  </h2>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> طبقا لاحدث الاضافات
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <p class="card-category">Number of Doctors</p>
                  <h2 class="card-title">{{numOfDoctors}}
                    <small> Doctors</small>
                  </h2>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                  </div>
                </div>
              </div>
            </div> -->
          </div>


         
        </div>
      </div>

    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Filters</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger active-color">
            <div class="badge-colors ml-auto mr-auto">
              <span class="badge filter badge-purple" data-color="purple"></span>
              <span class="badge filter badge-azure" data-color="azure"></span>
              <span class="badge filter badge-green" data-color="green"></span>
              <span class="badge filter badge-warning" data-color="orange"></span>
              <span class="badge filter badge-danger" data-color="danger"></span>
              <span class="badge filter badge-rose active" data-color="rose"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Images</li>
        <li class="active">
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-1.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-2.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-3.jpg" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="../assets/img/sidebar-4.jpg" alt="">
          </a>
        </li>
        <li class="button-container">
          <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank" class="btn btn-primary btn-block">Free Download</a>
        </li>
        <!-- <li class="header-title">Want more components?</li>
            <li class="button-container">
                <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
                  Get the pro version
                </a>
            </li> -->
        <li class="button-container">
          <a href="https://demos.creative-tim.com/material-dashboard/docs/2.1/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block">
            View Documentation
          </a>
        </li>
        <li class="button-container github-star">
          <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
        </li>
        <li class="header-title">Thank you for 95 shares!</li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
          <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
          <br>
          <br>
        </li>
      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->

</body>

</html>

