
footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  footer h4 {
    padding-bottom: 5px;
  }
  
  footer a {
    color: #8a99f8;
  }
  
  footer a:hover {
    color: #4267b2;
  }
  
  .contact-info {
    padding-top: 10px;
  }
  
  .contact-info .fa {
    background: #393939;
    border-radius: 100%;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
  }
  
  .copyright-text p,
  .footer-link a {
    color: white;
    font-size: 12px;
    font-weight: 500;
  }
  
  .footer-link a {
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
    margin-top: 4px;

  }