<!-- FOOTER -->
<div *ngIf="IsAdminRole != true">
    <footer data-stellar-background-ratio="5" style="background-color: #021830;">
      <div class="container">
         <div class="row">
    
              <!-- <div class="col-md-12 col-sm-12 "> -->
              <div class="col-2 ">
                   <div class="angle-up-btn"> 
                        <button (click)="top()" class="btn btn-light smoothScroll wow fadeInUp" data-wow-delay=".2s"><i class="fas fa-angle-up"></i></button>
                        <!-- <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a> -->
                   </div>
              </div> 
                   
              <div class="col-7">
                   <div class="footer-link"> 
                        <a href="#">عيادات</a>
                        <a href="#">صيدليات</a>
                        <a href="#">مستشفيات</a>
    
                        <a href="#">علاج طبيعي</a>
                        <a href="#">أسنان</a>
                        <a href="#">تحاليل و اشعة</a>
    
                   </div>
              </div>
              <div class="col-3">
                   <div class="copyright-text"> 
    <img src="../../../assets/images/902bb673-fd4c-42b7-b26d-f51105b634ea.jpg" style="width: 65px; margin-right: 50px;" alt="">
    
                   </div>
              </div>
                     
         </div>          
         </div>
      <!-- </div> -->
    </footer>
    </div>
    