<!-- <link rel="stylesheet" href="nicepage.css" media="screen"> -->
<script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>


<!-- <div id="home" class="image-aboutus-banner">
  <div class="container ">
    <h1 class="lg-text">About Us</h1>

  </div>

  </div>  -->


<!-- <div class="container">

</div> -->

<section class="u-align-center u-clearfix u-section-1 mt-3" id="carousel_a03e">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <div class="u-container-style u-expanded-width-xs u-group u-group-1">
              <div class="u-container-layout u-container-layout-2 proj mt-1">
                <h4 class="u-custom-font u-font-oswald u-text u-text-1 ">دكتو Rate</h4>
                <p class="u-text u-text-grey-50 u-text-3">الموقع يتيح لك معلومات عن الاماكن الطبية مع امكانية للتقييم  و معرفة اراء الاخرين  <br> يمكنك حفظ المكان لمتابعته و رؤيو العروض المختلفة التى يوفرها الموقع </p>
                <div class="u-social-icons u-spacing-10 u-social-icons-1">

                </div>
              </div>
            </div>
            <div alt="" class="u-image u-image-circle u-image-1" data-image-width="598" data-image-height="598"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- team member -->

<section class="u-align-center u-clearfix u-section-2" id="carousel_f6d9">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-expanded-width u-palette-5-base u-shape u-shape-rectangle u-shape-1"></div>
    <h1 class="u-custom-font u-font-roboto-condensed u-text u-text-body-alt-color u-text-1">Our Team Members</h1>
    <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <div alt="" class="u-image u-image-circle u-image-1" src=""></div>
            <h5 class="u-text u-text-2">Toqa Nassef</h5>
            <p class="u-text u-text-3">Web developer</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <div alt="" class="u-image u-image-circle u-image-2" src=""></div>
            <h5 class="u-text u-text-4">Zyad Tarek</h5>
            <p class="u-text u-text-5">Web developer</p>
          </div>
        </div>
        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <div alt="" class="u-image u-image-circle u-image-3" src=""></div>
            <h5 class="u-align-center-xl u-text u-text-6">Alaa Elnily</h5>
            <p class="u-align-center-xl u-text u-text-7">Web developer <br> frontend Designer </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-section-3" id="carousel_13e91">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div>
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <div alt="" class="u-image u-image-circle u-image-1" src=""></div>
            <h5 class="u-text u-text-1">Fatma Medhat</h5>
            <p class="u-text u-text-2">Web developer</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <div alt="" class="u-image u-image-circle u-image-2" src=""></div>
            <h5 class="u-text u-text-3">Basma Makeen</h5>
            <p class="u-text u-text-4">Web developer</p>
          </div>
        </div>
        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <div alt="" class="u-image u-image-circle u-image-3" src=""></div>
            <h5 class="u-align-center-xl u-text u-text-5">Salma Elaskary</h5>
            <p class="u-align-center-xl u-text u-text-6">Web developer</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section class="u-align-center u-clearfix u-section-4 " style="margin: auto;" id="carousel_13e9">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div>
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <div alt="" class="u-image u-image-circle u-image-1" src=""></div>
            <h5 class="u-text u-text-1">Diana Medhat</h5>
            <p class="u-text u-text-2">Web developer</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


